<h1>
	Submit Work!
</h1>

<form method="POST" action="/" class="button-size">
  <textarea type="text" name= "productImage"></textarea>
  <textarea type="text" name= "productName"></textarea>
  <textarea type="text" name= "productDescription"></textarea>
  <textarea type="text" name = "price"></textarea>
  <button type="submit">Save Plan!</button>
</form>