
<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-us"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en-us"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en-us"><![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9" lang="en-us"><![endif]-->
<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>L' Artiste</title>


		<link rel="stylesheet" href="style.css" type="text/css" media="all" />
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<script src="https://use.fontawesome.com/19f108decf.js"></script>

		<script type="text/javascript">
		
		</script>
		
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,latin-ext" type="text/css" media="all" />

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

				<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>


	
<body id="index" class="index hide-left-column hide-right-column lang_en">
		<div id="page">
			<div class="header-container">
				<header id="header">																					
				<div class="nav">
					<div class="container">
						<div class="row">
							<nav>
								<div class="header_user_info">
										<a class="login" href="NEED A LINK HERE" rel="nofollow" title="Log in to your account">
										Sign in
									</a>
								</div>
							</nav>
								</div>
							</div>
						</div>
					<div>
						<div class="container">
							<div class="row">
								<div id="header_logo">
									<a href="HOME PAGE LINK HERE" title="DESCRIPTION OF SITE">
										<img class="logo img-responsive" src="art-logo.png" alt="L'Artiste" width="1300"/>
									</a>
								</div>

								<div id="search_block_top" class="col-sm-4 clearfix">
									<form id="searchbox" method="get" action="//cc.clearviewstudios.com/search" >
										<input type="hidden" name="controller" value="search" />
										<input type="hidden" name="orderby" value="position" />
										<input type="hidden" name="orderway" value="desc" />
										<input class="search_query form-control" type="text" id="search_query_top" name="search_query" placeholder="Search" value="" />
										<button type="submit" name="submit_search" class="btn btn-default button-search">
											<span>Search</span>
										</button>
									</form>
								</div>


						<div class="col-sm-4 clearfix">
							<div class="shopping_cart">
							<a href="cart.html" title="View my shopping cart" rel="nofollow">
								<i style="margin-right: 10px" class="fa fa-shopping-cart fa-lg"></i><b>Cart</b>
								<span class="ajax_cart_quantity unvisible">0</span>
								<span class="ajax_cart_product_txt unvisible">Product</span>
								<span class="ajax_cart_product_txt_s unvisible">Products</span>
								<span class="ajax_cart_total unvisible">
									</span>
								<span class="ajax_cart_no_product">(empty)</span>
										</a>
								<div class="cart_block block exclusive">
									<div class="block_content">
										<div class="cart_block_list">
											<p class="cart_block_no_products">
												No products
											</p>
											<div class="cart-prices">
												<div class="cart-prices-line first-line">
													<span class="price cart_block_shipping_cost ajax_cart_shipping_cost unvisible">
																								 To be determined																	</span>
													<span class="unvisible">
														Shipping
													</span>
												</div>
													<div class="cart-prices-line last-line">
														<span class="price cart_block_total ajax_block_cart_total">$0.00</span>
														<span>Total</span>
													</div>
												</div>
											<p class="cart-buttons">
												<a id="button_order_cart" class="btn btn-default button button-small" href="cart.html" title="Check out" rel="nofollow">
													<span>
														Check out<i class="icon-chevron-right right"></i>
													</span>
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="layer_cart">
							<div class="clearfix">

							</div>

							<div class="crossseling"></div>
						</div> <!-- #layer_cart -->

						<div class="layer_cart_overlay"></div>

						<div id="block_top_menu" class="sf-contener clearfix col-lg-12">
							<div class="cat-title">Menu</div>
							<ul class="sf-menu clearfix menu-content">
								<li><a href="LINK TO PAINTINGS HERE" title="ART TYPE">ART</a></li><li><a href="index.html" title="ARTISTS">ARTISTS</a></li><li><a href="index
						" title="TOP PRODUCTS???">TOP PRODUCTS???</a></li><li><a href="index.html" title="SOMETHING ELSE">SOMETHING ELSE</a></li>
										</ul>
						</div>

						</div>
					</div>
				</div>
		</header>	


	</div>		











			<div class="columns-container">
				<div id="columns" class="container">
											
<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
	<a class="home" href="index.html" title="Return to Home"><i class="icon-home"></i></a>
			<span class="navigation-pipe">&gt;</span>
						Authentication
			</div>
<!-- /Breadcrumb -->

							<div id="slider_row" class="row">
							</div>
					<div class="row">
<div id="center_column" class="center_column col-xs-12 col-sm-12">
	<h1 class="page-heading">Authentication</h1>


	<!---->
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<form action="login.html" method="post" id="create-account_form" class="box">
				<h3 class="page-subheading">Create an account</h3>
				<div class="form_content clearfix">
					<p>Please enter your name, email address, and a password to create an account.</p>
					<div class="alert alert-danger" id="create_account_error" style="display:none"></div>
					<div class="form-group">
						<label for="email_create">Name</label>
						<input type="name" class="is_required validate account_input form-control" id="name_create" name="email_create" value="" />
					</div>
					<div class="form-group">
						<label for="email_create">Email address</label>
						<input type="email" class="is_required validate account_input form-control" data-validate="isEmail" id="email_create" name="email_create" value="" />
					</div>
					<div class="form-group">
						<label for="email_create">Password</label>
						<input type="email" class="is_required validate account_input form-control" data-validate="isEmail" id="email_create" name="email_create" value="" />
					</div>

					<label class="btn btn-secondary">
					    <input type="checkbox" autocomplete="off"> Are you an artist?
					</label>

					<div class="submit">
						<input type="hidden" class="hidden" name="back" value="my-account" />						<button class="btn btn-default button button-medium exclusive" type="submit" id="SubmitCreate" name="SubmitCreate">
							<span>
								<i class="icon-user left"></i>
								Create an account
							</span>
						</button>
						<input type="hidden" class="hidden" name="SubmitCreate" value="Create an account" />
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-sm-6">
			<form action="login.html" method="post" id="login_form" class="box">
				<h3 class="page-subheading">Already registered?</h3>
				<div class="form_content clearfix">
					<div class="form-group">
						<label for="email">Email address</label>
						<input class="is_required validate account_input form-control" data-validate="isEmail" type="email" id="email" name="email" value="" />
					</div>
					<div class="form-group">
						<label for="passwd">Password</label>
						<input class="is_required validate account_input form-control" type="password" data-validate="isPasswd" id="passwd" name="passwd" value="" />
					</div>
					<p class="lost_password form-group"><a href="index.html" title="Recover your forgotten password" rel="nofollow">Forgot your password?</a></p>
					<p class="submit">
						<input type="hidden" class="hidden" name="back" value="my-account" />						<button type="submit" id="SubmitLogin" name="SubmitLogin" class="button btn btn-default button-medium">
							<span>
								<i class="icon-lock left"></i>
								Sign in
							</span>
						</button>
					</p>
				</div>
			</form>
		</div>
	</div>
						</div><!-- #center_column -->
										</div><!-- .row -->
				</div><!-- #columns -->
			</div><!-- .columns-container -->
							
<!-- Footer -->
<div class="footer-container">
	<footer id="footer"  class="container">
		<div class="row">
<!-- Block categories module -->
	<section class="blockcategories_footer footer-block col-xs-12 col-sm-2">
		<h4>Categories</h4>
		<div class="category_footer toggle-footer">
			<div class="list">
				<ul class="tree dhtml">
													
					<li >
						<a 
						href="LINK TO PAINTINGS" title="">
							Paintings
						</a>
						</li>

												
																					
					<li >
						<a 
						href="LINK TO Ceramics" title="">
							Ceramics
						</a>
						</li>

												
																					
					<li >
						<a 
						href="LINK TO Photography" title="">
							Photography
						</a>
						</li>

												
																					
					<li class="last">
						<a 
						href="LINK TO Stained Glass" title="">
							Stained Glass
						</a>
						</li>

					</ul>
				</div>
			</div> <!-- .category_footer -->
		</section>
			<!-- /Block categories module -->

	<!-- Block CMS module footer -->
	<section class="footer-block col-xs-12 col-sm-2" id="block_various_links_footer">
		<h4>Information</h4>
		<ul class="toggle-footer">
			<li class="item">
			</li>
												<li>
				<a href="http://cc.clearviewstudios.com/sitemap" title="Sitemap">
					Sitemap
				</a>
			</li>
					</ul>
		
	</section>
		<!-- /Block CMS module footer -->

<!-- Block myaccount module -->
<section class="footer-block col-xs-12 col-sm-4">
	<h4><a href="login.html" title="Manage my customer account" rel="nofollow">My account</a></h4>
	<div class="block_content toggle-footer">
		<ul class="bullet">
			<li><a href="favorites.html" title="My orders" rel="nofollow">My Favorites</a></li>
		</ul>
	</div>
</section>
<!-- /Block myaccount module -->

<!-- MODULE Block contact infos -->
<section id="block_contact_infos" class="footer-block col-xs-12 col-sm-4">
	<div>
        <h4>About L'Artiste</h4>
        <ul class="toggle-footer">
               	<li>
            		We are a consortium of artists who want our wares to be easily accessed.         	
				</li>
                  	<li>
            		<i style="font-size: 17px" class="fa fa-envelope"></i>To reach out: 
            		<span><a href="OUR EMAIL"</a></span>
            	</li>
                    </ul>
    </div>
</section>
<!-- /MODULE Block contact infos -->
</div>
					</footer>
				</div><!-- #footer -->




					</div><!-- #page -->
</body></html>